################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CasaDoCodigo/config/applicationhost.config
/.vs/CasaDoCodigo/project-colors.json
/.vs/CasaDoCodigo/DesignTimeBuild/.dtbcache.v2
/.vs/CasaDoCodigo/v17/.futdcache.v1
/.vs/CasaDoCodigo/v17/.suo7
/.vs/CasaDoCodigo/v17/.suo
